In [6]:
import pandas as pd

# EXTRACT
df = pd.read_excel("data.xlsx")

# TRANSFORM
print(df.columns) # Print column names to identify the correct date column
df['Fecha '] = pd.to_datetime(df['Fecha '], errors='coerce')
df['Indicador 2'] = df['Indicador 2'].str.upper()

# Limpieza: eliminar salarios nulos o cero si es necesario
df = df[df['Salario'] > 0]

# Estadísticas básicas
print(df['Salario'].describe())
print(df['Sexo'].value_counts())
print(df['Objetivo'].value_counts())

# LOAD
df.to_excel("data_transformada.xlsx", index=False)

Index(['Nombre', 'Fecha ', 'Sexo', 'Area', 'Condición', 'Sede', 'N.Personal',
       'Salario', 'Asigancion.familiar', 'Bono', 'Hora.Extras', 'Ingresos',
       'Banco 01', 'Banco 02', 'Neto a pagar', 'ESSALUD', 'Tipo.empleo',
       'Capacitaciones', 'Objetivo', 'Satisfacción', 'Indicador 1',
       'Indicador 2', 'Indicador 3', 'Indicador 4', 'Indicador 5',
       'Indicador 6', 'Indicador 7', 'Indicador 8'],
      dtype='object')
count       420.000000
mean      46185.640405
std       48184.660970
min         733.330000
25%        8635.625000
50%       19684.165000
75%       84108.117500
max      201236.900000
Name: Salario, dtype: float64
Sexo
Masculino    283
Femenino     137
Name: count, dtype: int64
Objetivo
Terminado      273
No Iniciado     91
En Proceso      56
Name: count, dtype: int64